Screen {
    align: center middle;
  }

DataTable {
    width: 90%;
    height: 90%;
    padding: 1 2;
    color: $text;
    height: auto;
    content-align: center middle;
    border: $secondary tall;
    background: $panel;
    }

Static.help {
    display: none;
    align: center middle;
    width: 90%;
    height: 90%;
    padding: 1 2;
    color: $text;
    height: auto;
    content-align: center middle;
    border: $secondary tall;
    background: $panel;
}
