Screen {
    align: center middle;
  }

DataTable {
    width: auto;
    height: auto;
    padding: 1 2;
    color: $text;
    height: auto;
    content-align: center middle;
    border: $secondary tall;
    background: $panel;
    }
